@import "./../shared.scss";

.container {
    @extend .genericContainer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homeTitle {
    @extend .genericTitle;
}

.slogan {
    text-align: center;
    margin-top: -12px;
    font-size: 120%;
    font-weight: bold;
}

.textGroups {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 650px;

    @media only screen and (max-width: 650px) {
        max-width: 100vw;
    }

    margin-top: 55px;

    div:first-child {
        margin-top: 0px;
    }

    div {
        width: 100%;
        margin-top: 35px;
    }

    p {
        width: 100%;
        text-align: center;
        margin: 0px;
    }

    .faqTitle {
        @extend .genericTitle;
        text-align: center;
        text-transform: unset;
        margin-bottom: 5px;
        font-size: 18px;
        font-weight: bold;
    }

    img {
        display: flex;
        max-width: 450px;
        margin: auto;
        margin-top: 12px;    
        @media only screen and (max-width: 650px) {
            max-width: 98vw;
        }
    }
}

