@import "./../shared.scss";

.container {
    width: 100%;
}
.secretKeyLabelDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 35px;
}

.secretKeyLabel {
    color: $COLOR_INFO_TEXT;
    font-size: 80%;
    user-select: none;
}

.secretKeyField {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.spinnerContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 70px;
    max-height: 70px;
}