@import "./../shared.scss";

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding-top: 60px;
	padding-bottom: 250px;

	& > * {
		animation: fadeIn ease 300ms;
		-webkit-animation: fadeIn ease 300ms;
		-moz-animation: fadeIn ease 300ms;
		-o-animation: fadeIn ease 300ms;
		-ms-animation: fadeIn ease 300ms;
	}
}
