@import "./../shared.scss";

.container {
    @extend .genericContainer;
    max-width: 680px;
    min-width: 150px;
    min-height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 10px;

    p:first-child{
        font-weight: bold;
        font-size: 110%
    }
}

.license {
    @extend .genericContainer;
    justify-content: space-evenly;
    background-color: $COLOR_DARK1;
    margin: 10px;
    min-width: 200px;
    min-height: 200px;
    padding: 3px;

    p {
        margin: 0
    }
}

.title {
    @extend .genericTitle;
    font-size: 20px;
}

.red {
    color: red;
}

.green {
    color: green;
}