@import "./../shared.scss";

.container {
	@extend .genericContainer;
}

.buttonGroup{
	margin-top: 35px;
	min-width: 100%;

	& > * {
		margin-top: 5px;
	}

	:first-child {
		margin-top: 0px;
	}
}

.spinnerContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 30px
}
.title {
	@extend .genericTitle;
	margin-bottom: 35px;
}

.entry {
	margin-bottom: 6px;
	&:last-of-type{
		margin-bottom: 0;
	}
}
