@import "./../shared.scss";

.container {
	@extend .genericContainer;
	text-align: center;
	padding: 10px;
	max-width: 300px;
	min-height: 380px;
	background-color: rgba(0, 0, 0, 0.7);
	justify-content: flex-start;
	border-radius: 5px;
	user-select: none;
	box-shadow: 3px 4px 18px -1px rgba(0,0,0,0.81);
	-webkit-box-shadow: 3px 4px 18px -1px rgba(0,0,0,0.81);
	-moz-box-shadow: 3px 4px 18px -1px rgba(0,0,0,0.81);
	cursor: pointer;
	img {
		min-width: 280px;
		max-width: 280px;
		min-height: 225px;
		max-height: 225px;
	}

	
	&:hover{
		background-color: $COLOR_DARK1;
	}
}

.title {
	margin: 4px;
	font-weight: bold;
	font-size: 130%;
}

.description {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-around;
	align-items: center;
	font-size: 90%;
}

.price {
	color: green
}
