// Shared colors
$COLOR_DARK1: rgb(20, 20, 20);
$COLOR_DARK1_BORDER: adjust-color($COLOR_DARK1, -4, -4, -4);
$COLOR_DARK1_HOVER: adjust-color($COLOR_DARK1, 12, 12, 12);
$COLOR_DARK1_HOVER_BORDER: adjust-color($COLOR_DARK1_HOVER, -4, -4, -4);


$COLOR_DARK2: rgb(33, 33, 33);
$COLOR_DARK2_BORDER: adjust-color($COLOR_DARK2, -4, -4, -4);
$COLOR_DARK2_HOVER: adjust-color($COLOR_DARK2, 12, 12, 12);
$COLOR_DARK2_HOVER_BORDER: adjust-color($COLOR_DARK2_HOVER, -4, -4, -4);

$COLOR_DARK3: rgb(60, 60, 60);
$COLOR_DARK3_BORDER: adjust-color($COLOR_DARK3, -4, -4, -4);
$COLOR_DARK3_HOVER: adjust-color($COLOR_DARK3, 12, 12, 12);
$COLOR_DARK3_HOVER_BORDER: adjust-color($COLOR_DARK3_HOVER, -4, -4, -4);

$COLOR_DARK4: rgb(70, 70, 70);
$COLOR_DARK4_BORDER: adjust-color($COLOR_DARK4, -4, -4, -4);
$COLOR_DARK4_HOVER: adjust-color($COLOR_DARK4, 12, 12, 12);
$COLOR_DARK4_HOVER_BORDER: adjust-color($COLOR_DARK4_HOVER, -4, -4, -4);

$COLOR_DARK5: rgb(80, 80, 80);
$COLOR_DARK5_BORDER: adjust-color($COLOR_DARK5, -4, -4, -4);
$COLOR_DARK5_HOVER: adjust-color($COLOR_DARK5, 12, 12, 12);
$COLOR_DARK5_HOVER_BORDER: adjust-color($COLOR_DARK5_HOVER, -4, -4, -4);

$COLOR_INPUT_BORDER: rgb(45, 45, 45);
$COLOR_INPUT_BORDER_FOCUS: rgb(60, 60, 60);
$COLOR_TEXT: rgb(245, 245, 245);
$COLOR_NAVBAR: $COLOR_DARK2;

// Alert colors
$COLOR_INFO_TEXT: rgb(8, 235, 235);
$COLOR_ERROR_TEXT: rgb(252, 54, 54);
$COLOR_ERROR_HOVER: rgb(90, 90, 90);
$COLOR_ERROR: rgb(80, 80, 80);
$COLOR_ERROR_BORDER: rgb(70, 70, 70);



// Shared Classes
.genericContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	/*
	box-shadow: 6px 7px 12px -7px rgba(0, 0, 0, 0.66);
	-webkit-box-shadow: 6px 7px 12px -7px rgba(0, 0, 0, 0.66);
	-moz-box-shadow: 6px 7px 12px -7px rgba(0, 0, 0, 0.66);
	border: 3px solid $COLOR_DARK2_BORDER;
	*/
	border-radius: 10px;
	background-color: adjust-color(black, $alpha: -0.5);
	border: 0;
	padding: 35px;
	padding-left: 35px;
	padding-right: 35px;

	animation: fadeIn ease 200ms;
	-webkit-animation: fadeIn ease 200ms;
	-moz-animation: fadeIn ease 200ms;
	-o-animation: fadeIn ease 200ms;
	-ms-animation: fadeIn ease 200ms;
}

.genericTitle {
	text-transform: uppercase;
	font-size: 34px;
	margin-bottom: 15px;
    text-align: center;
}

.fadein {
	animation: fadeIn ease 300ms;
	-webkit-animation: fadeIn ease 300ms;
	-moz-animation: fadeIn ease 300ms;
	-o-animation: fadeIn ease 300ms;
	-ms-animation: fadeIn ease 300ms;
}

@keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}